@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663289666395') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e625";
}

.icon-guanbi:before {
  content: "\e626";
}

.icon-kefu:before {
  content: "\e627";
}

.icon-shenfenzheng:before {
  content: "\e628";
}

.icon-shuoming:before {
  content: "\e629";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

.icon-saoyisao:before {
  content: "\e630";
}

.icon-xiaoxi:before {
  content: "\e631";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-shouhuodizhiyebianji:before {
  content: "\e645";
}

.icon-dingdan:before {
  content: "\e646";
}

.icon-weigouxuan:before {
  content: "\e64a";
}

.icon-yigouxuan:before {
  content: "\e64b";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-huanyihuan:before {
  content: "\e653";
}

